<h1>Complete your Ooply Account</h1>

<%= form_for(@user) do |f| %>
<%if @user.errors.any? %>
	<div class="error_messages">
		<h2>Form is invalid</h2>
		<ul>
			<%for message in @user.errors.full_messages %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
	<p>
	  
	  <%= f.text_field :first_name, placeholder: "First Name" %>
	</p>
	<p>
	  
	  <%= f.text_field :last_name , placeholder: "Last Name" %>
	</p>

	<p>
	  <%= f.label :password %>
	  <%= f.password_field :password, placeholder: "Your Password" %>
	</p>
	<p>
		
	  	<%= f.submit "Sign In", class:"btn btn-primary"%>
	</p>
  
<% end %>